.sticky-td {
    position: sticky;
    left: 0;
    background-color: white;
    -webkit-box-shadow: 0px 0px 0px 1px #dee2e6;
    -moz-box-shadow: 0px 0px 0px 1px #dee2e6;
    box-shadow: 0px 0px 0px 1px #dee2e6;
}
.sticky-th {
    /* z-index: 1; */
    position: sticky;
    top: 0;
    /* left: 0; */
    background-color: white;
    -webkit-box-shadow: 0px 0px 0px 1px #dee2e6;
    -moz-box-shadow: 0px 0px 0px 1px #dee2e6;
    box-shadow: 0px 0px 0px 1px #dee2e6;
}

.table-striped tbody tr:nth-of-type(odd) .sticky-td {
    background-color: #F2F2F2 !important;
}

/* .table-responsive {
    height: 750px;
    overflow-y: scroll;
} */