$color-main: #12b1b8;

.container-login {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: $color-main;
}

.section--logo {
  position: relative;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 300px;

  & > img {
    margin-top: 20px;
    margin-left: 50px;
    width: 180px;
    height: 120px;
    object-fit: contain;
  }

  & .logo-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 300px;
    height: 300px;
    position: absolute;
    right: -50px;
    top: -120px;
    padding: 10px;
    padding-bottom: 30px;
    padding-left: 40px;
    background-color: white;
    border-radius: 200px;
    box-shadow: 0 1px 6px rgba(49, 53, 59, 0.68);
  
    & img {
      width: 200px;
      height: 150px;
      object-fit: contain;
    }
  }
}

.section-title-login {
  width: 50vw;
  margin-bottom: 20px;
  padding-left: 150px;

  & > h1 {
    font-size: 70px;
    font-weight: 800;
    color: white;
  }

  & > p {
    font-size: 20px;
    color: white;
    line-height: 20px;
  }
}

.section-form-login {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  & > .login-box-wrapper {
    display: flex;
    width: 90vw;
    // height: 250px;
    background-color: white;
    padding: 30px 50px;
    border-top-left-radius: 130px;
    border-top-right-radius: 130px;
    box-shadow: 0 -1px 6px rgba(49, 53, 59, 0.68);
  
   & > .left-login-box-wrapper {
     flex: 1;
     
    h3 {
      font-size: 18px;
      margin-left: 20px;
    }

    h4 {
      font-size: 20px;
      font-weight: 800;
      color: $color-main;
      margin: 0;
    }

    p {
      font-size: 16px;;
      color: black;
      margin: 0;
    }
   }

   & > .right-login-box-wrapper {
    flex: 1;
    position: relative;

    & > form {
      margin-left: 100px;
      position: absolute;
      top: -190px;
      width: 400px;
      height: 300px;
      padding: 30px;
      padding-top: 50px;
      border-radius: 65px;
      background-color: white;
      background-image: url('../../images//icons/bg_login_form.png');
      background-repeat: no-repeat;
      background-size: 400px;
      box-shadow: 0 1px 6px rgba(49, 53, 59, 0.68);
    }
    }
  }
}

.login-alert-wrapper {
  position: absolute;
  width: 85%;
  top: 0px;
}

.btn-forgot {
  font-weight: 600;
  color: white;
}

.btn-login {
  width: 150px;
  font-weight: 600;
  border-color: white;
  color: black;
  background-color: white;
}
