@import "navbar";

.border-top {
  border-top: 2px solid $gray-200 !important;
}
.border-right {
  border-right: 2px solid $gray-200 !important;
}
.border-right-gray {
  border-right: 2px solid $gray-400 !important;
}
.border-bottom {
  border-bottom: 2px solid $gray-200 !important;
}
.border-left {
  border-left: 2px solid $gray-200 !important;
}
.card-border-radius {
  border-radius: 8px;
}

.card-border-radius-2 {
  border-radius: 24px 8px 8px 8px;
}

.box-shadow-card {
  box-shadow: 0 0rem 0.75rem rgba(0, 0, 0, 0.45) !important;
}

.width-full {
  width: 100%;
}

.height-full {
  height: 100%;
}

.btn-secondary {
  border-radius: 6px !important;
  border: solid 1px $primary !important;
  background-color: $white !important;
  color: $primary;
  span {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }
  &:hover {
    color: $primary !important;
  }
}

.bg-light {
  background-color: $gray-200 !important;
}

.bg-gradient-card {
  background: linear-gradient(133.38deg, #00e0c5 0%, #682eeb 100%) !important;
}

@media (min-width: 768px) {
  .col-md-5-5 {
    flex: 0 0 48%;
    max-width: 48%;
  }
}

.img-avatar {
  border-radius: 50%;
}

// background
.bg-gray-soft {
  background: #f8f9fe;
}

.bg-secondary-soft {
  background: #e0e0e0;
}

.bg-gradien-blue {
  background: linear-gradient(118.35deg, #3152ff 0%, #500fe2 100%);
}

.bg-card-green {
  background: #06d2ae;
}

.bg-card-blue {
  background: #12afe1;
}

.col-11-5 {
  flex: 0 0 96.66667%;
  max-width: 96.66667%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-0-5 {
  flex: 0 0 3.33333%;
  max-width: 3.33333%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.label--required {
  margin-left: 10px;
  font-size: 10px;
  color: red;
}

.typography-display {
  display: block;
}

.group-margin {
  margin: 5px 0;
}
