$primary-lab: #1cc1c9;
$primary-rr: #2a47f9;
$primary-pharma: #7c34d7;

.hs-btn {
  border-color: transparent !important;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: white;
  &.LAB_STAFF {
    background-color: $primary-lab !important;
    &:hover {
      background-color: $primary-lab !important;
      opacity: 0.9;
    }
  }
  &.RR_STAFF, &.DOCTOR {
    background-color: $primary-rr !important;
    &:hover {
      background-color: $primary-rr !important;
      opacity: 0.9;
    }
  }
  &.PHARMA_STAFF {
    background-color: $primary-pharma !important;
    &:hover {
      background-color: $primary-pharma !important;
      opacity: 0.9;
    }
  }
}
.hs-btn-outline {
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  &.LAB_STAFF {
    border-color: $primary-lab !important;
    color: $primary-lab !important;
    &:hover {
      background-color: $primary-lab !important;
      color: white !important;
    }
  }
  &.RR_STAFF, &.DOCTOR {
    border-color: $primary-rr !important;
    color: $primary-rr !important;
    &:hover {
      background-color: $primary-rr !important;
      color: white !important;
    }
  }
  &.RR_STAFF, &.DOCTOR {
    border-color: $primary-rr !important;
    color: $primary-rr !important;
    &:hover {
      background-color: $primary-rr !important;
      color: white !important;
    }
  }
  &.PHARMA_STAFF {
    border-color: $primary-pharma !important;
    color: $primary-pharma !important;
    &:hover {
      background-color: $primary-pharma !important;
      color: white !important;
    }
  }
}

.text-LAB_STAFF {
  color: $primary-lab !important;
}
.text-RR_STAFF, .text-DOCTOR {
  color: $primary-rr !important;
}
.text-PHARMA_STAFF {
  color: $primary-pharma !important;
}

.bg-LAB_STAFF {
  background-color: $primary-lab !important;
}
.bg-RR_STAFF, .bg-DOCTOR {
  background-color: $primary-rr !important;
}
.bg-PHARMA_STAFF {
  background-color: $primary-pharma !important;
}

.nav-link-RR_STAFF, .nav-link-DOCTOR {
  &.active,
  &:active,
  &.hover,
  &:hover {
    color: $primary-rr !important;
    border-left: solid 6px $primary-rr !important;
  }
}

.nav-link-LAB_STAFF {
  &.active,
  &:active,
  &.hover,
  &:hover {
    color: $primary-lab !important;
    border-left: solid 6px $primary-lab !important;
  }
}

.nav-link-PHARMA_STAFF {
  &.active,
  &:active,
  &.hover,
  &:hover {
    color: $primary-pharma !important;
    border-left: solid 6px $primary-pharma !important;
  }
}
