@import "./bootstrap/bootstrap.scss";
@import "./m-siha/m-siha.scss";
@import "./m-siha/themes.scss";
@import "./m-siha//login.scss";

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cursor-pointer {
  cursor: pointer;
}
